<header class="header">
  <div class="header_innner">
    <div class="nav">
      <h1 class="nav_left"><a>DMspace</a></h1>
    </div>
  </div>
</header>
<div class="form_wrapper">
  <h2 class="page_headeing">投稿編集</h2>
    <%= render partial: "form", locals: {post: @post} %>
</div>