<header class="header" >
  <div class="header_inner">
    <div class="nav">
      <h1 class="nav_left"><a>DMspace</a></h1>
    </div>
  </div>
</header>
<div class="form_wrapper">
  <h2 class="page_heading">新規投稿</h2>
    <%= render partial: "form", locals: { post: @post } %>
</div>