/* リセットCSS */
body {
  font-size: 14px;
  color : #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */

/* ヘッダー */
.header {
  background-color: #f7c9e3;
  padding: 20px 0;
  height: 50px;
  position: relative;
}
.header_inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_left {
  width: 50%;
  padding: 20px;
  color: rgb(240, 243, 245);
}

.nav_right {
  width: 50%;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.red {
  background-color: red;
}

.show-lists {
  height: 230px;
  width: 180px;
  position: absolute;
  right: 370px;
  top: 70px;
  background-color: #ffffff;
  padding: 40px 10px 40px 10px;
  box-shadow: rgb(170 170 170 / 50%) 0px 2px 5px;
  z-index: 10;
}

.show-lists-b {
  height: 30px;
  width: 180px;
  position: absolute;
  right: 370px;
  top: 70px;
  background-color: #ffffff;
  padding: 40px 10px 40px 10px;
  box-shadow: rgb(170 170 170 / 50%) 0px 2px 5px;
  z-index: 10;
}

.show-lists-c {
  height: 150px;
  width: 180px;
  position: absolute;
  right: 370px;
  top: 70px;
  background-color: #ffffff;
  padding: 40px 10px 40px 10px;
  box-shadow: rgb(170 170 170 / 50%) 0px 2px 5px;
  z-index: 10;
}

.nav_btn {
  font-size: 23px;
  border: 1px bold #070707;
  color: #070707;
  padding: 15px 35px 15px 15px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  min-width: 50px;
  border-top: 1px solid rgb(12, 11, 11);
}

.background-red{
  background-color: #FF6666 ;
  color: white;
  font-size: 30px;
  height: 50px;
  padding-top: 10px;
  position: relative;
  bottom: 15px;
  box-shadow: 7px 7px #666666;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}


/* ファーストビュー */
.first-view {
  height: 100vh;
  position: relative;
}

.top_view {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: relative;
}

.p {
  position: absolute;
}