/* リセットCSS */
body {
  font-size: 14px;
  color : #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */

/* ヘッダー */
.header {
  background-color: #f7c9e3;
  padding: 20px 0;
  height: 50px;
}
.header_inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_left {
  width: 50%;
  padding: 20px;
  color: rgb(240, 243, 245);
}

.nav_right {
  width: 50%;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.red {
  background-color: red;
}

.show-lists {
  width: 200px;
  position: absolute;
  right: 370px;
  top: 70px;
  background-color: #ffffff
}

.nav_btn {
  padding: 15px 35px 15px 15px;
  border: 1px solid #eee;
}

.background-red{
  background-color: #FF6666 ;
  color: white;
}

.hidden {
  display: none;
}

/* ファーストビュー */
.first-view {
  height: 100vh;
  position: relative;
}

.top_view {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: relative;
}

.p {
  position: absolute;
}