/* 投稿内容表示ページ */
.main_contents {
  background-image: image-url('4558407_s.jpg');
  height: 800px;
  background-size: cover; 
}

.post_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.post_lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.post_lists>.list {
  width: 37vh;
  padding: 1vw;
}

.post_img_content {
  margin-top: 50px;
  border: 5px solid rgb(201, 194, 194);
  position: relative;
}

.post_img {
  width: 33vh;
  height: 33vh;
}

.post_info {
  color: black;
  padding: 1vw;
}

.post_date {
  font-size: 2.5vh;
}

.post_title {
  font-size: 2.5vh;
}

/* 投稿内容表示ページ */