/* 投稿内容表示ページ */

.post_contents {
  background-color: rgb(248, 227, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.post_contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.post_lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.post_lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: rgb(248, 227, 247);
}

.post_img_content {
  position: relative;
}

.post_img {
  width: 33vh;
  height: 33vh;
}

.post_info {
  background: rgb(248, 227, 247);
  color: black;
  padding: 1vw;
}

.post_date {
  font-size: 2.5vh;
}

.post-title {
  font-size: 2.5vh;
}

/* 投稿内容表示ページ */