.slider {
  background-color: rgb(248, 227, 247);
  width: 100vw;
  padding: 30px 0 0 0;
  text-align: center;
  margin-bottom: -70px
}

.fa-arrow-alt-circle-left {
  font-size: 50px;
  z-index: 100;
  position: relative;
  left: -450px;
  top: 300px;
}

.fa-arrow-alt-circle-right {
  font-size: 50px;
  z-index: 100;
  position: relative;
  right: -450px;
  top: -250px
}

.post_box_img {
  margin: 0 auto;
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.post_show {
  background-color: rgb(248, 227, 247);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.post_box {
  background-color:rgb(248, 227, 247);
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_title_2 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.post_btn {
  display: flex;
  margin-bottom: 30px;
}

.post_red_btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or_text {
  font-size: 20px;
}

.post_gray_btn {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.detail_table {
  margin-bottom: 30px;
  width: 100%;
}

.detail_post {
  width: 20%;
  background-color: rgb(228, 225, 225);
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail_value {
  background-color: rgb(211, 205, 205);
  width: 80%;
  padding: 20px;
  border:1px solid #dedede;
  font-size: 14px;
}

.comments {
  width: 50%;
  margin: 60px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: rgb(209, 220, 231);
  box-sizing: border-box;
}

.area {
  height: 70px;
}

.button {
  display: inline-block;
  border-radius: 5%;
  font-size: 12pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 60px;
  background: rgb(255, 127, 127);
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 7px 7px #666666;
  border: 2px solid rgba(255, 127, 127, 0.97);
}

.button:hover {
  box-shadow: none;
  color: rgba(255, 127, 127, 0.97);
  background: #ffffff
}

.comment_list {
  list-style-type: square;
  padding: 5px;
  margin-top: 15px;
}

.comment_list h4 {
  font-size: 20px;
  color: #0f0c0c
}

.comment_delete {
  font-size: 10px;
  margin-top: -10px;
}

.like_btn {
  display: flex;
  font-size: 30px;
  margin-bottom: 30px;
}

.like_count_btn {
  margin-left: 10px;
  font-weight: bold;
}